{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col">
              <div class="card booking-card">
                    <table class="table table-hover table-bordered table-sm text-center" cellspacing="0">
                          <thead>
                            <tr>
                                <th class="th-sm special-color" style="color: white" colspan="9">
                                    MY BOOKINGS
                                        <i class="fas fa-info-circle" data-toggle="modal" data-target="#bookingLegendModal"></i>
                                </th>
                                <!-- Booking Legend Modal -->
                                <div class="modal fade" id="bookingLegendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                  aria-hidden="true">
                                  <!-- Change class .modal-sm to change the size of the modal -->
                                  <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title w-100" id="myModalLabel">Booking Legend</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        ...
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- Booking Legend Modal -->
                            </tr>
                            <tr>
                              <th class="th-sm">Transaction ID</th>
                              <th class="th-sm">Date Purchased</th>
                              <th class="th-sm">Package</th>
                              <th class="th-sm">Price</th>
                              <th class="th-sm">Quantity</th>
                              <th class="th-sm">Total</th>
                              <th class="th-sm">Payment Status</th>
                              <th class="th-sm">Payment Deadline</th>
                                <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if unsettled_booking_count == 0 %}
                            <tr>
                                <td colspan="9">You have no bookings yet.</td>
                            </tr>
                            {% else %}
                                {% for booking in bookings %}
                                    <tr>
                                      <td>
                                          <a href="{% url 'dap_booking:transaction_details' booking.id %}">{{ booking.id }}</a>
                                      </td>
                                      <td>
                                          <a href="{% url 'dap_booking:transaction_details' booking.id %}">{{ booking.transaction_date }}</a>
                                      </td>
                                      <td>
                                          <a href="{% url 'dap_booking:transaction_details' booking.id %}">{{ booking.package.title }}</a>
                                      </td>
                                      {% if booking.package.discounted_price %}
                                            <td>
                                                <a href="{% url 'dap_booking:transaction_details' booking.id %}">₱{{ booking.package.discounted_price|floatformat:0|intcomma }}</a>
                                            </td>
                                      {% else %}
                                            <td>
                                                <a href="{% url 'dap_booking:transaction_details' booking.id %}">₱{{ booking.package.price|floatformat:0|intcomma }}</a>
                                            </td>
                                      {% endif %}
                                      <td>
                                          <a href="{% url 'dap_booking:transaction_details' booking.id %}">{{ booking.quantity }}</a>
                                      </td>
                                      <td>
                                          <a href="{% url 'dap_booking:transaction_details' booking.id %}">₱{{ booking.getTotalPrice|floatformat:0|intcomma }}</a>
                                      </td>
                                      <td>
                                          <a href="{% url 'dap_booking:transaction_details' booking.id %}">
                                              {% if booking.proof_of_payment %}
                                                {% if booking.proof_of_payment_status == False %}
                                                    For Verification
                                                {% else %}
                                                    Verified
                                                {% endif %}
                                              {% else %}
                                                Pending
                                              {% endif %}
                                          </a>
                                      </td>
                                      <td>
                                          <a href="{% url 'dap_booking:transaction_details' booking.id %}">{{ booking.proof_of_payment_deadline }}</a>
                                      </td>
                                      <td>
                                          <a href=""><i class="far fa-trash-alt fa-md red-text"></i></a>
                                      </td>
                                     </tr>
                                {% endfor %}
                            {% endif %}
                          </tbody>

                        </table>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col" style="display:flex; justify-content: flex-end">
              <a href="{% url 'dap_booking:custom_package_request_bookings' user.id %}">
                  <button class="btn btn-info btn-md waves-effect waves-light">
                      CUSTOM PACKAGE REQUESTS {{ pending_custom_package_request_count }}
                  </button></a>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock content %}
<table class="table table-hover table-bordered table-sm text-center" cellspacing="0">
                          <thead>
                            <tr>
                                <th class="th-sm special-color" style="color: white" colspan="9">MY CUSTOM PACKAGES</th>
                            </tr>
                            <tr>
                              <th class="th-sm">Custom Package ID</th>
                              <th class="th-sm">Date Requested</th>
                              <th class="th-sm">Package</th>
                              <th class="th-sm">Budget</th>
                              <th class="th-sm">Quantity</th>
                              <th class="th-sm">Flight Tickets</th>
                              <th class="th-sm">Hotel Accommodation</th>
                              <th class="th-sm">Travel Insurance</th>
                              <th class="th-sm">Travel Voucher</th>
                                <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% comment %}{% if booking_count == 0 %}{% endcomment %}
                            <tr>
                                {% comment %}<td colspan="9">You have no bookings yet.</td>{% endcomment %}
                            </tr>
                            {% comment %}{% else %}{% endcomment %}
                                {% for custom_package in custom_packages %}
                                    <tr>
                                  <td>
                                      <a href="{% url 'dap_booking:custom_package_details' custom_package.id %}">{{ custom_package.id }}</a>
                                  </td>
                                  <td>
                                      <a href="{% url 'dap_booking:custom_package_details' custom_package.id %}">{{ custom_package.request_date }}</a>
                                  </td>
                                  <td>
                                      <a href="{% url 'dap_booking:custom_package_details' custom_package.id %}">{{ custom_package.title }}</a>
                                  </td>
                                  <td>
                                      <a href="{% url 'dap_booking:custom_package_details' custom_package.id %}">₱{{ custom_package.budget|floatformat:0|intcomma }}</a>
                                  </td>
                                  <td>
                                      <a href="{% url 'dap_booking:custom_package_details' custom_package.id %}">{{ custom_package.quantity }}</a>
                                  </td>
                                  <td>
                                      <a href="{% url 'dap_booking:custom_package_details' custom_package.id %}">
                                          {% if custom_package.flight_ticket == True %}
                                            <i class="fas fa-check-circle" style="color: green"></i>
                                          {% else %}
                                            <i class="fas fa-times-circle" style="color: red"></i>
                                          {% endif %}
                                      </a>
                                  </td>
                                    <td>
                                      <a href="{% url 'dap_booking:custom_package_details' custom_package.id %}">
                                          {% if custom_package.hotel == True %}
                                            <i class="fas fa-check-circle" style="color: green"></i>
                                          {% else %}
                                            <i class="fas fa-times-circle" style="color: red"></i>
                                          {% endif %}
                                      </a>
                                  </td>
                                    <td>
                                      <a href="{% url 'dap_booking:custom_package_details' custom_package.id %}">
                                          {% if custom_package.travel_insurance == True %}
                                            <i class="fas fa-check-circle" style="color: green"></i>
                                          {% else %}
                                            <i class="fas fa-times-circle" style="color: red"></i>
                                          {% endif %}
                                      </a>
                                  </td>
                                    <td>
                                      <a href="{% url 'dap_booking:custom_package_details' custom_package.id %}">
                                          {% if custom_package.travel_voucher == True %}
                                            <i class="fas fa-check-circle" style="color: green"></i>
                                          {% else %}
                                            <i class="fas fa-times-circle" style="color: red"></i>
                                          {% endif %}
                                      </a>
                                  </td>

                        </tr>
                                {% endfor %}
                            {% comment %}{% endif %}{% endcomment %}
                          </tbody>
                        </table>
