{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
    <!-- Card -->
    <div class="card mt-5 mb-5" style="width: 500px">
      <!-- Card body -->
      <div class="card-body">
          <form class="text-center border border-light p-5" method="post">
            {% csrf_token %}
            <p class="h4 mb-4">Sign Up</p>
            {{ form|crispy }}
            <button class="btn btn-info btn-block my-4" type="submit">Sign Up</button>
            <p>Already have an account?
                <a href="{% url 'dap_booking:login' %}">Sign In</a>
            </p>
          </form>
      </div>
      <!-- Card body -->
    </div>
    <!-- Card -->
    </div>
{% endblock content %}